<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectNo" value="ETEST"/>
    <add key="ProjectDataBaseName" value="ETEST-2"/>
    <add key="ProjectDataBaseServer" value="SRV0005"/>
    <add key="dbPEDMSServer" value="SRV0005"/>
  </appSettings>
</configuration>